<div class="container">
  <h2>Habitation</h2>

  <%= link_to "Nouveau projet", new_home_path, class: 'btn btn-primary' %>

  <p>liste de tous les projets ici:</p>
  <%@homes.each do |home|%>
    <%= home.address%>
    <%= home.home_consumption_months%>
    <%= link_to "Installation solaire", home_path(home), class: 'btn btn-secondary' %>
    <%= link_to "Supprimer", home_path(home), class: 'btn btn-secondary', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer ce projet?"} %>
  <%end%>
</div>
