<div class="container my-5">
  <%= link_to "Retour", homes_path, class: 'btn btn-secondary' %>



  <div class="container my-5" id="home-presentation">
    <h2>Projet : <%=@home.name%></h2>
    <p>Localisation : <%=@home.address%></p>

    <div id="map" data-controller="map-home">
      <div data-map-home-target="lat" data-value = "<%= @home.latitude %>"> </div>
      <div data-map-home-target="long" data-value = "<%= @home.longitude %>"> </div>
    </div>

    <p>Consommation annuel (kW/h) : <%= @home.home_consumption_months.sum.to_i%></p>
    <p>Budget électrique annuel : <%= @home.price_consumption_months.sum.to_i%> €</p>
    <canvas data-controller="consumption-chart">
      <div data-consumption-chart-target="consumptionHome" data-value = "<%= @home.home_consumption_months %>"> </div>
    </canvas>

    <%= link_to "Modifier projet", edit_home_path(@home), class: 'btn btn-primary' %>
  </div>



  <div class="container my-5" id="scenarios">

    <div class="my-3">     <%# des boutons puis modale %>

      <div class="my-3">
        <strong>Quel est votre projet ?</strong>
        <div>
          <%# <%= link_to "Nouveau projet", new_home_photovoltaic_path(@home, @photovoltaic_new), class: 'btn btn-success' %>
          <%# onglets :%>
          <ul class="nav nav-pills nav-justified mb-3" id="project-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="project-investment-tab" data-bs-toggle="pill" data-bs-target="#project-investment" type="button" role="tab" aria-controls="project-investment" aria-selected="true">Investir dans la solaire</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="project-autonomy-tab" data-bs-toggle="pill" data-bs-target="#project-autonomy" type="button" role="tab" aria-controls="project-autonomy" aria-selected="false">Gagner en autonomie</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="project-bill-tab" data-bs-toggle="pill" data-bs-target="#project-bill" type="button" role="tab" aria-controls="project-bill" aria-selected="false">Diminuer ma facture électrique</button>
            </li>
          </ul>
          <%# contenu :%>
          <div class="tab-content" id="project-tabContent">
            <div class="tab-pane fade show active" id="project-investment" role="tabpanel" aria-labelledby="project-investment-tab" tabindex="0">
            <%# formulaire %>
              <%= simple_form_for :investment, method: :get do |f| %>
                <%= f.input :investment_amount, label: "Budget d'investissement" %>
                <%= f.input :installation_surface, label: "Surface disponible" %>
                <%= f.submit "Search", class: 'btn btn-secondary' %>
              <% end %>
            </div>

            <div class="tab-pane fade" id="project-autonomy" role="tabpanel" aria-labelledby="project-autonomy-tab" tabindex="0">
              <%# formulaire %>
              <%= simple_form_for :autonomy, method: :get do |f| %>
                <%= f.input :installation_surface, label: "Surface de votre toit" %>
                <%= f.submit "Search", class: 'btn btn-secondary' %>
              <% end %>
            </div>

            <div class="tab-pane fade" id="project-bill" role="tabpanel" aria-labelledby="project-bill-tab" tabindex="0">
              <%# formulaire %>
              <%= simple_form_for :bill, method: :get do |f| %>
                <%= f.input :installation_surface, label: "Surface de votre toit" %>
                <%= f.input :reduce_bill, label: "Diminution souhaitée par mois" %>
                <%= f.submit "Search", class: 'btn btn-secondary' %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <h4 class="mt-5">Scénarios d'installation :</h4>
    <div class="my-3">
      <strong>Simuler une puissance</strong>
      <%= render "photovoltaics/form", home: @home, photovoltaic: @photovoltaic_new %>
    </div>
    <%@photovoltaics.each do |photovoltaic|%>

        <div class="mt-4">
          <%= link_to "Scénario à #{photovoltaic.power}", home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-primary' %>
        </div>

        <div>
          <strong>Synthèse énergétique :</strong>
          <p>Production annuelle (kW/h) : <%= photovoltaic.production_months.sum.to_i %></p>
          <p>Production autoconsommée (kW/h) : <%=photovoltaic.self_consumption_months.sum.to_i%> </p>
          <p>Renvoi sur le réseau (kW/h) : <%=photovoltaic.back_energy_months.sum.to_i%> </p>
        </div>

        <div>
          <strong>Synthèse financiere :</strong>
          <p> Investissement (€): <%=photovoltaic.investment%> </p>
          <p> ROI (année): <%=photovoltaic.roi%> </p>
          <p> Bénéfice sur la durée de vie de l'installation (€): <%=photovoltaic.profit%> </p>
          <p> Rendement annuel (%): <%=photovoltaic.annual_performance%> </p>
          <p> Rendement final (%): <%=photovoltaic.global_performance%> </p>
        </div>

        <div>
          <strong>Caractéristiques de l'installation</strong>
          <% nb_solar_panel = (photovoltaic.power / Photovoltaic::POWER_BY_PANEL).ceil %>
          <p>Nombre de panneaux solaires : <%= nb_solar_panel %> </p>
          <p>Surface utile : <%= (nb_solar_panel * Photovoltaic::AREA_BY_PANEL).round(2) %> m2</p>
        </div>

        <div>
          <%= link_to "Supprimer", home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-secondary', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer cette installation?"} %>
          <%= link_to "Modifier puissance", edit_home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-secondary' %>
        </div>
    <%end%>
  </div>



  <div class="container" id="comparaison">
    <h4 class="mt-5">Comparaison des installations :</h4>
    <div class="my-3">
      <%# onglets :%>
      <ul class="nav nav-pills nav-justified mb-3" id="overview-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-financial-tab" data-bs-toggle="pill" data-bs-target="#overview-financial" type="button" role="tab" aria-controls="overview-financial" aria-selected="true">Comparatif financier</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="overview-energy-tab" data-bs-toggle="pill" data-bs-target="#overview-energy" type="button" role="tab" aria-controls="overview-energy" aria-selected="false">Comparatif énergétique</button>
        </li>
      </ul>
      <%# contenu :%>
      <div class="tab-content" id="overview-tabContent">
        <div class="tab-pane fade show active" id="overview-financial" role="tabpanel" aria-labelledby="overview-financial-tab" tabindex="0">
          <div data-controller="financial-overview" >
            <div data-financial-overview-target="overviewFinancial" data-value = "<%= @overview_financial_data %>"> </div>
            <canvas data-financial-overview-target="investmentGraph" ></canvas>
            <canvas data-financial-overview-target="roiGraph" ></canvas>
            <canvas data-financial-overview-target="profitGraph" ></canvas>
            <canvas data-financial-overview-target="performanceGraph" ></canvas>
          </div>
        </div>

        <div class="tab-pane fade" id="overview-energy" role="tabpanel" aria-labelledby="overview-energy-tab" tabindex="0">
          <canvas data-controller="energy-overview">
            <div data-energy-overview-target="overviewEnergy" data-value = "<%= @overview_energy_data %>"> </div>
          </canvas>
        </div>
      </div>
    </div>
  </div>


</div>
