<div class="container">
  <h2>Projet : <%=@home.name%></h2>
  <%= link_to "Retour", homes_path, class: 'btn btn-secondary' %>
  <p>Localisation : <%=@home.address%></p>
  <p>Coordonnées : <%=@home.latitude%> - <%=@home.longitude%> </p>

  <div id="map" data-controller="map-home">
    <div data-map-home-target="lat" data-value = "<%= @home.latitude %>"> </div>
    <div data-map-home-target="long" data-value = "<%= @home.longitude %>"> </div>
  </div>

  <p>Consommation du bien (kW/h) : <%= @home.home_consumption_months%></p>
  <p>Budget électrique annuel = TODO</p>
  <canvas data-controller="consumption-chart">
    <div data-consumption-chart-target="consumptionHome" data-value = "<%= @home.home_consumption_months %>"> </div>
  </canvas>
  <%= link_to "Nouvelle installation", new_home_photovoltaic_path(@home), class: 'btn btn-primary' %>
  <%= link_to "Modifier projet", edit_home_path(@home), class: 'btn btn-secondary' %>

  <h4 class="mt-3">Scénarios d'installation :</h4>
  <%@photovoltaics.each do |photovoltaic|%>
      <%= link_to "Scénario à #{photovoltaic.power}", home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-primary' %>
      <p>Production mensuelle (kW/h) : <%= photovoltaic.production_months.sum.to_i %></p>
      <p>Production autoconsommée (kW/h) : <%=photovoltaic.self_consumption_months.sum.to_i%> </p>
      <p>Renvoi sur le réseau (kW/h) : <%=photovoltaic.back_energy_months.sum.to_i%> </p>
      <p>Synthèse financiere : TODO</p>
      <div>
        <%= link_to "Supprimer", home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-secondary', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer cette installation?"} %>
        <%= link_to "Modifier puissance", edit_home_photovoltaic_path(@home, photovoltaic), class: 'btn btn-secondary' %>
      </div>
  <%end%>
</div>
